<div class="bg">
  <div class="all-div" align="center">
    <div class="title-div">
      <div class="row-tab" (click)="href('1')">
        <img src="/assets/images/jrzz.png"/>
        <h3>{{todayData.todayBettingAmout}}</h3>
        <div>今日投注总额</div>
      </div>
      <div class="row-tab" (click)="href('2')">
        <img src="/assets/images/cz.png"/>
        <h3>{{todayData.todayRechgerAmount}}</h3>
        <div>今日充值总额</div>
      </div>
      <div class="row-tab" (click)="href('3')">
        <img src="/assets/images/tx.png"/>
        <h3>{{todayData.WithdrawCount}}</h3>
        <div>今日提现总额</div>
      </div>
      <div class="row-tab" (click)="href('4')">
        <img src="/assets/images/STBzc.png"/>
        <h3>{{-todayData.currentProfit}}</h3>
        <div>今日盈亏总额</div>
      </div>
      <div class="row-tab" (click)="href('5')">
        <img src="/assets/images/lsjl.png"/>
        <h3>{{todayData.totayReturnWater}}</h3>
        <div>今日返水总额</div>
      </div>
    </div>
    <!-- 运营统计 -->
    <div class="statistics">
      <div class="statistics-title">
          <img src="/assets/images/yy.png"/>
          <h3>运营统计</h3>
      </div>
      <div class="statistics-content">
        <!-- <div *ngFor="let item of coinManage; let i = index" class="statistics-content-tab">
             <h3>{{item.coinSUM}}</h3>
             <div>{{item.currencyName}}总数</div>
        </div> -->

        <div class="statistics-content-tab">
          <h3>{{totalData.totalBalance}}</h3>
          <div>用户余额总计</div>
        </div>
        <!-- <div class="statistics-content-tab">
          <h3>{{userCount.userStatistics.score}}</h3>
          <div>用户积分总计</div>
        </div> -->
       <!--  <div class="statistics-content-tab">
         <h3>{{userCount.userStatistics.virtualCoin}}</h3>
         <div>速通宝总计</div>
       </div> -->
        <div class="statistics-content-tab">
          <h3>{{totalData.totalUserCount}}</h3>
          <div>用户数量总计</div>
        </div>
        <div class="statistics-content-tab">
          <h3>{{totalData.UserWithdrawCount}}</h3>
          <div>用户提现总计</div>
        </div>
        <div class="statistics-content-tab">
          <h3>{{registerUserCount}}</h3>
          <div>今日新增用户</div>
        </div>
        <div class="statistics-content-tab">
          <h3>{{totalData.totalProfit}}</h3>
          <div>用户盈亏总计</div>
        </div>

        <!-- <div class="statistics-content-tab">
          <h3>{{userCount.userStatistics.shadowScore}}</h3>
          <div>用户影子积分总计</div>
        </div>

        <div class="statistics-content-tab">
          <h3>{{userCount.walletBalance}}</h3>
          <div>钱包余额总计</div>
        </div> -->
        <div class="statistics-content-tab">
          <h3>&nbsp;</h3>
          <div>&nbsp;</div>
        </div>
        <div class="statistics-content-tab">
          <h3>&nbsp;</h3>
          <div>&nbsp;</div>
        </div>

         <div *ngFor="let item of coinManage; let i = index" class="statistics-content-tab">
             <h3>{{item.coinSUM}}</h3>
             <div>{{item.currencyName}}总数</div>
        </div>
        <!-- <div class="statistics-content-tab">
          <h3>{{totalData.totalProfit}}</h3>
          <div>用户盈亏总计</div>
        </div> -->
      </div>
    </div>
    <!-- 报表统计 -->
    <div class="statement" >
      <div class="statistics-title" style="display:none">
          <img src="/assets/images/lsjl.png"/>
          <h3>历史销售统计</h3>
          <div class="statistics-radio">
            <label class="radio-inline">
              <input type="radio" value="10" [(ngModel)]="orderType" (click)="reportAjax('10')">充值/提现
            </label>
            <label class="radio-inline">
              <input type="radio" value="20" [(ngModel)]="orderType" (click)="reportAjax('20')">转账/收款
            </label>
          </div>
      </div>
      <div class="statement-content" id="container">

      </div>
    </div>
  </div>
</div>
